* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#videos {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    overflow: hidden;
}

.video-player {
    background-color: black;
    width: 25%; /* 50% of the screen width */
    height: 25%; /* 50% of the screen height */
    position: absolute; /* Correct positioning property */
    top: 80px; /* Position at the top */
    right: 0; /* Position at the left */
    object-fit: cover;
    margin: 20px;
    border: 2px solid rgb(97, 218, 251);
   
}

#user-2 {
    background-color: black;
    width: 25%; /* 50% of the screen width */
    height: 25%; /* 50% of the screen height */
    position: absolute; /* Correct positioning property */
    top: 38%; /* Position at the top */
    right: 0; /* Position at the left */
    object-fit: cover;
    margin: 20px;
    border: 2px solid rgb(97, 218, 251);
   
}

.smallFrame {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 170px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid rgb(97, 218, 251);
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.77);
    box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.77);
    z-index: 999;
}

#controls {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1em;
}

.control-container {
    background-color: rgb(97, 218, 251);
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.control-container img {
    height: 30px;
    width: 30px;
}

#leave-btn {
    background-color: rgb(255, 80, 80, 1);
}

@media screen and (max-width: 600px) {
    .smallFrame {
        height: 80px;
        width: 120px;
    }

    .control-container img {
        height: 20px;
        width: 20px;
    }

    #videos {
        display: none;
    }
}


@media screen and (max-width: 1000px) {
   
    #ytbVideo {
        width: 100%;
        height: 100%;
        margin: 10px;
    }
    #videos {
        display: none;
    }
}



